<!DOCTYPE html>

<html>

<head>
    <title>Error 404</title>
    <link rel="icon" href="/img/weather-app.png">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <div class="main-content">
        {{>header}}

        <!--><h1><u>Error 404</u></h1><!-->

        <h4>{{errorMsg}}</h4>
    </div>

    {{>footer}}

</body>

</html>