<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather-app.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="mainDiv">
        {{>header}}
        <p class="aboutInfo">This weather application was made by none other than <br> the one and only Hristo Gadzhev. Enjoy all the useful <br>information about hte weather in the<br> city of your choice.</p>
        <p class="aboutInfo">We are using data from weatherstack.com API. </p>
    </div>
    {{>footer}}
</body>

</html>