<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather-app.png">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <div class="mainDiv">
        {{>header}}

        <p class="helpText">We will be happy to help you in <br> case of any difficulties! <br><br> <i>Call us: 02 / 987 123</i></p>

    </div>

    {{>footer}}

</body>

</html>