<!DOCTYPE html>

<html>

<head>
    <title>Home</title>
    <link rel="icon" href="/img/weather-app.png">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <div class="mainDiv">
        {{>header}}
        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>
        
        <p id="message-1" class="forecast"></p>
        <hr>
        <p id="message-2" class="forecast"></p>

        <p id="weather-msg-1" class="forecastBonus"></p>
        <p id="weather-msg-2" class="forecastBonus"></p>
        <p id="weather-msg-3" class="forecastBonus"></p>
        <p id="weather-msg-4" class="forecastBonus"></p>
        <p id="weather-msg-5" class="forecastBonus"></p>
        <p id="weather-msg-6" class="forecastBonus"></p>
        <p id="weather-msg-7" class="forecastBonus"></p>

    </div>
    
    {{>footer}}

    <script src="/js/app.js"></script>

</body>

</html>